@font-face {
  font-family: 'BentonSans-Bold';
  src: url("../fonts/BentonSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Bold.otf") format("opentype"), url("../fonts/BentonSans-Bold.woff") format("woff"), url("../fonts/BentonSans-Bold.ttf") format("truetype"), url("../fonts/BentonSans-Bold.svg#BentonSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BentonSans-Book';
  src: url("../fonts/BentonSans-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Book.otf") format("opentype"), url("../fonts/BentonSans-Book.woff") format("woff"), url("../fonts/BentonSans-Book.ttf") format("truetype"), url("../fonts/BentonSans-Book.svg#BentonSans-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BentonSans-Light';
  src: url("../fonts/BentonSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BentonSans-Light.otf") format("opentype"), url("../fonts/BentonSans-Light.woff") format("woff"), url("../fonts/BentonSans-Light.ttf") format("truetype"), url("../fonts/BentonSans-Light.svg#BentonSans-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue-Black';
  src: url("../fonts/HelveticaNeue-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Black.otf") format("opentype"), url("../fonts/HelveticaNeue-Black.woff") format("woff"), url("../fonts/HelveticaNeue-Black.ttf") format("truetype"), url("../fonts/HelveticaNeue-Black.svg#HelveticaNeue-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeue-Light.woff") format("woff"), url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
