.bg_section {
  background-size: cover !important; }

.n_padding-left {
  padding-left: 0; }

.content_section {
  padding: 60px 0; }

.list_inline {
  margin: 0;
  padding: 0; }
  .list_inline li {
    display: inline-block;
    margin: 0;
    padding: 0; }

.content_whith-medium {
  width: 53%; }

.description_basic {
  color: #808080;
  font-family: "BentonSans-Bold";
  font-size: 16px; }

.description_basic-purple {
  color: #322B80;
  font-family: "BentonSans-Light";
  text-align: center;
  font-size: 22px; }

.description_basic-blue {
  color: #004481;
  font-family: "BentonSans-Light";
  text-align: center;
  font-size: 22px; }

.text_basic-dark {
  color: #004481;
  font-family: "BentonSans-Book";
  font-size: 16px; }

.text_basic-white {
  font-family: "BentonSans-Book";
  color: #fff;
  font-size: 22px; }
  .text_basic-white strong {
    font-family: "BentonSans-Bold"; }

.text_basic-blue {
  font-family: "BentonSans-Book";
  color: #004481;
  font-size: 22px; }
  .text_basic-blue strong {
    font-family: "BentonSans-Bold"; }

.bg_cover {
  background-size: cover !important; }

.grafic_marker {
  border: solid #fff 5px;
  border-radius: 33px;
  margin-bottom: 180px;
  position: relative; }
  .grafic_marker .marker_values {
    bottom: -83px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%; }
    .grafic_marker .marker_values .item_market {
      display: inline-block;
      margin: 0 9%;
      position: relative; }
      .grafic_marker .marker_values .item_market p {
        color: #fff;
        font-family: "BentonSans-Bold";
        font-size: 20px;
        margin: 0; }
      .grafic_marker .marker_values .item_market::before {
        background: #fff;
        content: '';
        height: 95px;
        left: 35%;
        position: absolute;
        top: -103px;
        width: 4px;
        z-index: 2; }
      .grafic_marker .marker_values .item_market::after {
        content: '';
        background-size: contain;
        bottom: -10px;
        height: 18px;
        left: 50%;
        -webkit-transform: translate(-50%, 50%);
                transform: translate(-50%, 50%);
        position: absolute; }
    .grafic_marker .marker_values .value1::after {
      width: 19px;
      background: url("../images/icons//ico-start1.svg") center no-repeat; }
    .grafic_marker .marker_values .value2::after {
      width: 44px;
      background: url("../images/icons//ico-start2.svg") center no-repeat; }
    .grafic_marker .marker_values .value3::after {
      width: 69px;
      background: url("../images/icons//ico-start3.svg") center no-repeat; }
    .grafic_marker .marker_values .value4::after {
      width: 94px;
      background: url("../images/icons//ico-start4.svg") center no-repeat; }
  .grafic_marker .ico-arc {
    position: absolute;
    right: 16px;
    top: -60px;
    width: 86px; }
  .grafic_marker .ico-ball {
    background: #432579;
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#432579), to(#db1120));
    background: linear-gradient(to right, #432579 0%, #db1120 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#432579', endColorstr='#db1120',GradientType=1 );
    /* IE6-9 */
    border-radius: 33px;
    height: 48px;
    padding: 5px;
    position: relative;
    width: 20%;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
    .grafic_marker .ico-ball img {
      position: absolute;
      right: 5px;
      width: 40px;
      height: 40px;
      top: 7%; }

.title_section {
  color: #004481;
  font-family: "BentonSans-Bold";
  text-align: center;
  font-size: 80px; }

.text_note {
  color: #fff;
  font-family: "BentonSans-Book";
  font-size: 16px; }
  .text_note strong {
    font-family: "BentonSans-Bold"; }

.title_section-white {
  color: #fff;
  font-size: 43px;
  font-family: "BentonSans-Bold"; }

.text_center {
  text-align: center; }

.title_light {
  color: #2DCCCD;
  font-family: "BentonSans-Book";
  font-size: 32px;
  text-align: center;
  margin: 0; }

.btn_basic-light {
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-top: 35px;
  font-family: "BentonSans-Bold";
  font-size: 20px;
  padding: 7px 10px;
  background-color: #2DCCCD; }

.btn_basic-gray {
  border-radius: 5px;
  cursor: pointer;
  color: #808080;
  margin-top: 35px;
  font-family: "BentonSans-Bold";
  font-size: 20px;
  padding: 7px 10px;
  background-color: #E9E9E9; }

.btn_basic-bluedark {
  cursor: pointer;
  background-color: #322B80;
  border-radius: 5px;
  border: solid #fff 1px;
  color: #fff;
  font-family: "BentonSans-Bold";
  font-size: 18px;
  padding: 11px 0 7px; }

.btn_basic-bluelight {
  cursor: pointer;
  background-color: #2DCCCD;
  border-radius: 5px;
  border: solid #2DCCCD 1px;
  color: #004481;
  font-family: "BentonSans-Bold";
  text-align: center;
  font-size: 18px;
  padding: 11px 0 7px; }

.modal_qualification .modal-dialog {
  width: 71%; }

.modal_qualification .modal-content {
  padding: 30px 3%;
  background-color: #004481; }
  .modal_qualification .modal-content .item_bono {
    margin: 0 2%;
    width: 20%;
    padding: 0; }

.ico-cup {
  padding-left: 42px;
  position: relative; }
  .ico-cup::before {
    background-size: cover !important;
    content: '';
    height: 43px;
    left: 24%;
    top: 1%;
    position: absolute;
    width: 38px; }

.cup-yellow::before {
  background: url("../images/icons/ico-cup-yellow.svg") center no-repeat; }

.cup-blue::before {
  background: url("../images/icons/ico-cup-blue.svg") center no-repeat;
  left: 15%; }

.cup-blue-second::before {
  left: 12%; }
