@media handheld, only screen and (max-width: 780px) {
  .content_whith-medium {
    width: 100%; }
  .n_padding-left {
    padding: 0; }
  .title_section {
    font-size: 44px; }
  .grafic_marker .marker_values .item_market {
    margin: 0 5%; }
    .grafic_marker .marker_values .item_market::before {
      left: 35%;
      top: -104px; }
  .grafic_marker .ico-arc {
    top: -37px;
    width: 51px; }
    .grafic_marker .ico-arc img {
      width: 100%; }
  header {
    padding: 20px 0; }
  footer .list_footer {
    margin: 20px 0;
    text-align: center; }
  footer .logos {
    text-align: center; }
    footer .logos img {
      float: initial;
      margin: 30px auto; }
  footer .logo-relative {
    position: initial; }
  footer .text_basic-white {
    text-align: justify; }
  .banner_ppl,
  .qualification_content {
    background: none;
    background-color: #004481 !important; }
    .banner_ppl .content_banner,
    .qualification_content .content_banner {
      width: 100%; }
  .how-play .text_basic-blue {
    width: 100%; }
  .main_menu {
    left: -100%;
    background-color: rgba(7, 33, 70, 0.9);
    float: initial;
    top: 0;
    height: 100vh;
    margin: 0;
    padding: 61px 0 0;
    position: absolute;
    text-align: center;
    z-index: 9;
    opacity: 0;
    width: 100%;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
    .main_menu .item_menu {
      margin: 35px 0; }
      .main_menu .item_menu::before {
        content: none; }
    .main_menu .item_menu {
      display: block; }
  .main_menu-open {
    left: 0;
    opacity: 1; }
  .menu_type-player .item_menu {
    margin: 0; }
    .menu_type-player .item_menu a,
    .menu_type-player .item_menu .btn-scroll {
      margin: 0 13px;
      font-size: 15px; }
  .item_menu a,
  .item_menu .btn-scroll {
    font-size: 28px; }
  .close-menu {
    position: absolute;
    top: 3%;
    left: 5%; }
    .close-menu img {
      width: 30px;
      height: 30px; }
  .open-menu {
    right: 5%;
    position: absolute;
    top: 3%; }
    .open-menu img {
      width: 37px;
      height: 21px; }
  .tabs_play {
    width: 100%; }
    .tabs_play li a {
      font-size: 13px; }
    .tabs_play::before {
      height: 38px; }
  .int-page .open-menu {
    top: 8%; }
  .your_goals .title_section-white {
    font-size: 1px; }
  .qualification-equipo .your_goals .item_bg {
    font-size: 12px; }
  .bg_quadrangular {
    padding: 66px 15px; }
  .awards_team-list .item_team {
    margin-bottom: 40px;
    width: 100%; }
  .awards_team-list .text_footer {
    margin: 5px 0 0;
    min-height: auto; }
  .awards_team-list .text_ppal {
    min-height: auto; }
  .table_dats tr td:first-child {
    width: 22px; }
  .table_dats .text_table {
    font-size: 14px; }
  .types_awards .title_section {
    font-size: 27px; }
  .types_awards .description_basic-blue {
    width: 100%; }
  .awards_content .item_awards {
    margin-bottom: 20px;
    padding: 14px;
    width: 47%; }
    .awards_content .item_awards .btn_basic-bluedark {
      font-size: 16px; }
    .awards_content .item_awards .title_section-white {
      font-size: 39px; }
      .awards_content .item_awards .title_section-white small {
        font-size: 17px; }
  .marker_content .text_basic-white {
    width: 100%; } }

@media handheld, only screen and (max-width: 425px) {
  .content_whith-medium {
    width: 100%; }
  .n_padding-left {
    padding: 0; }
  .title_section {
    font-size: 44px; }
  .grafic_marker .marker_values .item_market {
    margin: 0 5%; }
    .grafic_marker .marker_values .item_market::before {
      left: 35%;
      top: -104px; }
  .grafic_marker .ico-arc {
    top: -37px;
    width: 51px; }
    .grafic_marker .ico-arc img {
      width: 100%; }
  header {
    padding: 20px 0; }
  footer .list_footer {
    margin: 20px 0;
    text-align: center; }
  footer .logos {
    text-align: center; }
    footer .logos img {
      float: initial;
      margin: 30px auto; }
  footer .logo-relative {
    position: initial; }
  footer .text_basic-white {
    text-align: justify; }
  .banner_ppl,
  .qualification_content {
    background: none;
    background-color: #004481 !important; }
    .banner_ppl .content_banner,
    .qualification_content .content_banner {
      width: 100%; }
  .how-play .text_basic-blue {
    width: 100%; }
  .main_menu {
    left: -100%;
    background-color: rgba(7, 33, 70, 0.9);
    float: initial;
    top: 0;
    height: 100vh;
    margin: 0;
    padding: 61px 0 0;
    position: absolute;
    text-align: center;
    z-index: 9;
    opacity: 0;
    width: 100%;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
    .main_menu .item_menu {
      margin: 35px 0; }
      .main_menu .item_menu::before {
        content: none; }
    .main_menu .item_menu {
      display: block; }
  .main_menu-open {
    left: 0;
    opacity: 1; }
  .menu_type-player .item_menu {
    margin: 0; }
    .menu_type-player .item_menu a,
    .menu_type-player .item_menu .btn-scroll {
      margin: 0 13px;
      font-size: 15px; }
  .item_menu a,
  .item_menu .btn-scroll {
    font-size: 28px; }
  .close-menu {
    position: absolute;
    top: 3%;
    left: 5%; }
    .close-menu img {
      width: 30px;
      height: 30px; }
  .open-menu {
    right: 5%;
    position: absolute;
    top: 3%; }
    .open-menu img {
      width: 37px;
      height: 21px; }
  .tabs_play {
    width: 100%; }
    .tabs_play li a {
      font-size: 13px; }
    .tabs_play::before {
      height: 38px; }
  .int-page .open-menu {
    top: 10%; }
  .your_goals .title_section-white {
    font-size: 1px; }
  .qualification-equipo .your_goals .item_bg {
    font-size: 12px; }
  .bg_quadrangular {
    padding: 66px 15px; }
  .awards_team-list .item_team {
    margin-bottom: 40px;
    width: 100%; }
  .awards_team-list .text_footer {
    margin: 5px 0 0;
    min-height: auto; }
  .awards_team-list .text_ppal {
    min-height: auto; }
  .table_dats tr td:first-child {
    width: 22px; }
  .table_dats .text_table {
    font-size: 14px; }
  .types_awards .title_section {
    font-size: 27px; }
  .types_awards .description_basic-blue {
    width: 100%; }
  .awards_content .item_awards {
    margin-bottom: 20px;
    padding: 14px;
    width: 47%; }
    .awards_content .item_awards .btn_basic-bluedark {
      font-size: 16px; }
    .awards_content .item_awards .title_section-white {
      font-size: 39px; }
      .awards_content .item_awards .title_section-white small {
        font-size: 17px; }
  .marker_content .text_basic-white {
    width: 100%; } }
