header {
  background-color: #072146;
  border-bottom: solid #fff 1px;
  padding: 20px 0 0; }
  header .logo {
    width: 238px; }

.main_menu {
  float: right;
  position: relative;
  top: -26px; }
  .main_menu .item_menu {
    margin: 0 30px; }

.item_menu {
  margin: 0 30px;
  position: relative; }
  .item_menu::before {
    content: none;
    bottom: -26px;
    left: 0;
    background-color: #DA3851;
    width: 100%;
    height: 10px;
    position: absolute; }
  .item_menu .btn-scroll,
  .item_menu a {
    color: #fff;
    cursor: pointer;
    font-family: "BentonSans-Book";
    font-size: 16px;
    position: relative; }
    .item_menu .btn-scroll:hover,
    .item_menu a:hover {
      text-decoration: none; }

.main_menu .item_active a {
  font-family: "BentonSans-Bold"; }

.main_menu .item_active::before {
  content: ''; }

.menu_type-player {
  margin-bottom: 20px; }
  .menu_type-player .item_active a {
    font-family: "BentonSans-Bold"; }
  .menu_type-player .item_menu {
    margin: 0 30px 0 0; }
    .menu_type-player .item_menu::before {
      content: none; }

footer {
  background-color: #072146;
  padding: 29px 0 27px; }
  footer .list_footer {
    margin-top: 11px; }
    footer .list_footer .item_footer a {
      text-decoration: underline;
      color: #fff;
      font-family: "HelveticaNeue-Light";
      margin: 0 6px; }
  footer .content-left {
    float: left;
    margin-left: 20px; }
  footer .logo-relative {
    position: relative;
    top: 34px;
    left: 20px; }
  footer .text_basic-white {
    font-size: 15px; }
    footer .text_basic-white a {
      color: #fff;
      font-family: "BentonSans-Bold"; }
  footer .logo_second {
    text-align: right;
    width: 100%; }
    footer .logo_second img {
      margin: 0 auto;
      width: 223px; }

.modal_home .btn_basic.btn_basic-100 {
  width: 100%; }

.link-modal {
  display: block;
  width: 100%;
  padding: 15px 0;
  font-family: "HelveticaNeue-Light";
  color: #DA3851;
  text-decoration: underline; }

.color-gray.text-left {
  color: #808080;
  text-align: left !important; }

.banner_ppl {
  background: url("../images/backgrounds/banner_home.png") center no-repeat;
  height: auto;
  padding-top: 6vh;
  position: relative;
  max-height: 640px; }
  .banner_ppl .form_home {
    margin-top: 22px; }
    .banner_ppl .form_home input {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.3);
      border: solid #fff 1px;
      border-radius: 5px;
      font-family: "HelveticaNeue-Black";
      padding: 8px 11px;
      width: 100%; }
      .banner_ppl .form_home input::-webkit-input-placeholder {
        color: #fff; }
      .banner_ppl .form_home input::-ms-input-placeholder {
        color: #fff; }
      .banner_ppl .form_home input::placeholder {
        color: #fff; }
  .banner_ppl .text_basic-white {
    font-size: 16px;
    margin-top: 14px; }
  .banner_ppl .content_banner {
    position: relative;
    text-align: center;
    position: relative;
    width: 38%; }
    .banner_ppl .content_banner .ico-card {
      margin: 24px auto 0; }
  .banner_ppl .title_banner {
    margin-top: 0;
    color: #fff;
    font-family: "BentonSans-Book";
    font-size: 20px;
    margin-bottom: 14px; }
  .banner_ppl .logo_text {
    bottom: -18%;
    right: 13%;
    position: absolute; }
  .banner_ppl .ico-scrool {
    position: absolute;
    bottom: 2%;
    width: 28px;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .banner_ppl .ico-scrool img {
      margin: 0 auto;
      position: relative;
      z-index: 2; }

.tabs_play {
  border: solid #E9E9E9 3px;
  border-radius: 47px;
  text-align: center;
  margin: 51px auto 0;
  width: 40%;
  position: relative; }
  .tabs_play li {
    display: inline-block;
    float: initial;
    width: 49%;
    margin: 0;
    background-color: transparent; }
    .tabs_play li a {
      background-color: transparent;
      border: none;
      border-radius: 47px;
      color: #808080;
      text-transform: uppercase;
      font-family: "BentonSans-Bold";
      font-size: 20px;
      -webkit-transition: all .2s linear;
      transition: all .2s linear; }
      .tabs_play li a:hover {
        background-color: transparent; }
  .tabs_play .active a {
    color: #fff !important;
    background-color: transparent !important;
    border: none !important; }
  .tabs_play:before {
    content: "nono";
    color: #2DCCCD;
    background-color: #2DCCCD;
    border-radius: 47px;
    left: 0;
    right: initial;
    position: absolute;
    height: 48px;
    width: 49%;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }

.tabs_action::before {
  left: initial;
  -webkit-transform: translateX(104%);
          transform: translateX(104%); }

.tab-content {
  margin-top: 85px; }

.list_indcations {
  margin: 23px 0 0;
  padding: 0; }
  .list_indcations li {
    list-style: none;
    margin: 0 0 27px;
    padding: 0 0 0 50px;
    position: relative;
    width: 90%; }
  .list_indcations .count_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    left: 0;
    top: 30%;
    background-color: #DA3851;
    width: 40px;
    height: 40px; }
  .list_indcations .text_item {
    color: #808080;
    font-family: "HelveticaNeue-Light";
    font-size: 16px; }
    .list_indcations .text_item a {
      color: #DA3851;
      text-decoration: underline; }
  .list_indcations .title_item {
    color: #004481;
    font-family: "BentonSans-Bold";
    font-size: 22px;
    margin: 0 0 17px; }

.modal_home {
  background-color: #072146cc; }
  .modal_home .btns_options {
    margin-top: 30px;
    text-align: center; }
  .modal_home .btn_basic {
    display: inline-block;
    margin: 0 5px;
    width: 47%; }
  .modal_home .description_basic,
  .modal_home .text_basic-dark {
    text-align: center; }
  .modal_home .modal-dialog {
    margin: 10% auto; }
  .modal_home .modal-content {
    background-color: #f2f2f2;
    padding: 30px 10%; }
  .modal_home select {
    color: #808080;
    background-color: #fff;
    border-radius: 5px;
    border: solid #C4C4C4 1px;
    font-family: "HelveticaNeue-Light";
    padding: 10px 15px;
    width: 100%; }
  .modal_home .title_section {
    font-size: 32px;
    margin-bottom: 31px; }
  .modal_home::before {
    content: '';
    background: url("../images/icons//line-modal.svg") center no-repeat;
    left: 0;
    top: 3%;
    width: 100%;
    height: 90%;
    background-size: contain !important;
    position: absolute; }

.qualification_content {
  background: url("../images/backgrounds/bg-qualification.png") center no-repeat;
  background-size: cover !important;
  padding-top: 45px; }
  .qualification_content .container {
    position: relative; }
  .qualification_content .ico_text {
    position: absolute;
    right: 0;
    top: 27%;
    text-align: center; }
    .qualification_content .ico_text img {
      margin: 0 auto; }
    .qualification_content .ico_text .text_basic-white {
      font-family: "BentonSans-Bold";
      margin-bottom: 12px; }
  .qualification_content .img_cup {
    margin: 44px 0 33px; }

.table_dats {
  margin-bottom: 56px;
  width: 100%; }
  .table_dats .description_table {
    font-family: "BentonSans-Light";
    color: #fff;
    font-size: 22px;
    border-bottom: solid 1px;
    border-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 10px; }
  .table_dats .text_table {
    color: #fff;
    font-family: "BentonSans-Bold";
    font-size: 22px;
    border-bottom: solid 1px;
    border-color: rgba(255, 255, 255, 0.3);
    padding: 16px 0; }
  .table_dats .youre_winner {
    background-color: rgba(218, 56, 81, 0.5); }
    .table_dats .youre_winner img {
      width: 35px;
      height: 35px; }
  .table_dats tr:last-child .text_table {
    border: none; }
  .table_dats tr td:first-child {
    width: 55px; }

.your_goals .text_note {
  margin-top: 24px; }

.your_goals .title_section-white {
  font-size: 22px; }

.your_goals .dats_goals {
  margin: 0;
  padding: 0;
  background-color: #072146;
  border: solid #fff 1px;
  border-radius: 11px;
  -webkit-box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.3); }

.your_goals .item_goals {
  border-radius: 8px 0 0 8px;
  display: inline-block;
  color: #fff;
  font-family: "BentonSans-Bold";
  font-size: 28px;
  padding: 22px;
  text-align: center;
  width: 32%; }

.your_goals .item_bg {
  background-color: #fff;
  color: #072146;
  font-size: 17px;
  padding: 32px 12px; }

.marker_content .text_basic-white {
  margin: 10px auto;
  text-align: center;
  width: 70%; }

.marker_content .text_note {
  text-align: center; }

.marker_content .title_section-white {
  margin-bottom: 51px; }

.marker_content .text-ppal {
  margin: 50px auto 58px; }
  .marker_content .text-ppal p {
    margin-bottom: 63px; }

.awards_content {
  margin: 24px 0 63px; }
  .awards_content .item_awards {
    background-color: rgba(7, 33, 70, 0.61);
    border-radius: 22px;
    margin: 0 1%;
    padding: 29px 45px 30px;
    text-align: center;
    width: 22%; }
    .awards_content .item_awards .title_section-white {
      opacity: .6;
      font-size: 50px;
      line-height: 21px;
      margin: 25px 0; }
      .awards_content .item_awards .title_section-white small {
        color: #fff;
        font-size: 22px; }
    .awards_content .item_awards .btn_basic-bluedark {
      background-color: #004481; }
  .awards_content .ico_starts {
    margin-bottom: 17px;
    height: 18px; }
  .awards_content .ico_cup img {
    height: 27px; }
  .awards_content .list_awards {
    margin: 63px 0 0;
    padding: 0; }
  .awards_content .award_active {
    background: #02dccd;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #02dccd), color-stop(57%, #02dccd), color-stop(100%, #2e2598));
    background: -webkit-gradient(linear, left top, left bottom, from(#02dccd), color-stop(57%, #02dccd), to(#2e2598));
    background: linear-gradient(to bottom, #02dccd 0%, #02dccd 57%, #2e2598 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02dccd', endColorstr='#2e2598', GradientType=0 ); }
    .awards_content .award_active .btn_basic-bluedark {
      background-color: transparent; }
    .awards_content .award_active .title_section-white {
      opacity: 1; }
  .awards_content .item_redeemed {
    position: relative; }
    .awards_content .item_redeemed::before {
      content: '';
      background: url("../images/icons/ico-redeemed.svg") center no-repeat;
      background-size: cover !important;
      position: absolute;
      left: 0;
      top: -3px;
      width: 96px;
      height: 89px; }
    .awards_content .item_redeemed .title_section-white {
      color: #49A5E6; }
      .awards_content .item_redeemed .title_section-white small {
        color: #49A5E6; }
    .awards_content .item_redeemed img {
      -webkit-filter: opacity(0.5) drop-shadow(0 0 0 pink);
      filter: opacity(0.5) drop-shadow(0 0 0 #49A5E6); }
    .awards_content .item_redeemed .btn_basic-bluedark {
      border-color: #49A5E6;
      background: transparent;
      color: #49A5E6; }

.qualification-equipo .your_goals .item_goals {
  padding: 22px 4px;
  font-size: 20px;
  width: 27%; }

.qualification-equipo .your_goals .item_bg {
  font-size: 20px;
  padding: 28px 7px;
  width: 43%; }

.qualification-equipo .desciption_goals {
  color: #fff;
  font-family: "BentonSans-Book";
  font-size: 20px;
  margin: 70px 0;
  line-height: 32px; }
  .qualification-equipo .desciption_goals strong {
    font-family: "BentonSans-Bold"; }
  .qualification-equipo .desciption_goals span {
    font-size: 35px;
    font-family: "BentonSans-Bold"; }

.awards_team {
  padding: 72px 0 98px; }
  .awards_team .text_basic-white {
    margin: 22px auto 0;
    width: 70%; }
  .awards_team .title_section-white {
    text-align: center;
    font-size: 50px; }

.awards_team-list {
  margin-top: 58px !important; }
  .awards_team-list .item_team {
    width: 30%;
    margin: 0 1%; }
  .awards_team-list .img_award {
    height: 290px;
    overflow: hidden;
    width: 100%; }
    .awards_team-list .img_award img {
      -o-object-fit: cover;
         object-fit: cover; }
  .awards_team-list .text_basic-white {
    margin: 0;
    text-align: center;
    width: 100%;
    float: left; }
  .awards_team-list .text_footer {
    font-family: "HelveticaNeue-Light";
    font-size: 16px;
    margin-top: 38px;
    min-height: 61px; }
  .awards_team-list .text_ppal {
    font-family: "BentonSans-Bold";
    font-size: 22px;
    margin-bottom: 16px;
    min-height: 80px; }

.types_awards .title_section {
  color: #004481;
  font-size: 50px;
  margin: 66px 0 51px; }

.types_awards .description_basic-purple {
  margin: 27px auto 0;
  width: 70%; }

.types_awards .description_basic-blue {
  margin: 37px auto;
  width: 65%; }

.modal_qualification .description_bono {
  color: #fff;
  text-align: left;
  font-family: "HelveticaNeue-Light";
  font-size: 16px;
  margin: 12px 0 18px; }

.modal_qualification .item_bono {
  text-align: center; }

.modal_qualification .text_basic-white {
  font-family: "BentonSans-Bold"; }

.how-play .text_basic-blue {
  margin: 58px auto 0;
  text-align: center;
  width: 50%; }

.firstform .firstbtn {
  margin: 35px auto 0;
  width: 33%; }

.arrow-left {
  display: block;
  position: relative; }
  .arrow-left::after {
    background: url("../images/icons/arrow-rigth.svg") center no-repeat;
    background-size: cover !important;
    content: '';
    right: 5%;
    top: 14px;
    position: absolute;
    width: 13px;
    height: 10px; }

.bg_quadrangular {
  background-size: cover !important;
  min-height: 344px;
  padding: 66px 28% 0; }
  .bg_quadrangular .title_section-white {
    margin-bottom: 22px; }

#ui-datepicker-div {
  -webkit-box-shadow: 0px 0px 5px 0px #6b6b6b;
          box-shadow: 0px 0px 5px 0px #6b6b6b;
  border: none !important; }
  #ui-datepicker-div .ui-datepicker-header {
    background-color: #fff;
    border: none; }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
      color: #808080;
      font-family: "BentonSans-Bold";
      font-size: 17px; }

.ui-datepicker-calendar thead span {
  color: #6D6E71;
  font-family: "BentonSans-Bold";
  font-size: 14px; }

.ui-widget-header .ui-icon-circle-triangle-e {
  background-image: url("../images/icons/arrow-left-calendar.svg") !important;
  background-position: center; }

.ui-widget-header .ui-icon-circle-triangle-w {
  background-image: url("../images/icons/arrow-rigth-calendar.svg") !important;
  background-position: center; }

.ui-datepicker-header .ui-corner-all {
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  border: none !important; }

.ui-state-default {
  border-radius: 50%;
  border: none !important;
  background: transparent !important;
  color: #808080 !important;
  margin: 0 auto !important;
  font-family: "BentonSans-Light";
  font-size: 12px !important;
  width: 25px;
  height: 25px;
  text-align: center !important;
  padding-top: 8px !important;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }
  .ui-state-default:hover {
    background-color: #2DCCCD !important;
    color: #fff !important;
    font-family: "BentonSans-Bold" !important; }

.ui-state-active {
  background-color: #2DCCCD !important;
  color: #fff !important;
  font-family: "BentonSans-Bold" !important; }

.list_bonos {
  text-align: center; }
