@import 'vars.scss';

.bg_section 			{ background-size: cover !important }
.n_padding-left 	{ padding-left: 0; }
.content_section 	{ padding: 60px 0; }

.list_inline {
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		margin: 0;
		padding: 0;
	}
}

// CONTENT 
.content_whith-medium {
	width: 53%;
}

// Texts
.description_basic {
	color: $gray2;
	font-family: $fbbold;
	font-size: 16px;
}

.description_basic-purple {
  color: $blue4;
  font-family: $fblight;
  text-align: center;
  font-size: 22px;
}

.description_basic-blue {
  color: $blue2;
  font-family: $fblight;
  text-align: center;
  font-size: 22px;
}

.text_basic-dark {
	color: $blue2;
	font-family: $fbbook;
	font-size: 16px;
}

.text_basic-white {
	font-family: $fbbook;
	color: $white;
	font-size: 22px;

	strong {
		font-family: $fbbold;
	}
}

.text_basic-blue {
	font-family: $fbbook;
	color: $blue2;
	font-size: 22px;

	strong {
		font-family: $fbbold;
	}
}

.bg_cover { background-size: cover !important; }

.grafic_marker {
	border: solid $white 5px;
  border-radius: 33px;
  margin-bottom: 180px;
	position: relative;

	.marker_values {
    bottom: -83px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;

    .item_market {
      display: inline-block;
      margin: 0 9%;
      position: relative;

      p {
        color: $white;
        font-family: $fbbold;
        font-size: 20px;
        margin: 0;
      }

      &::before {
        background: $white;
        content: '';
        height: 95px;
        left: 35%;
        position: absolute;
        top: -103px;
        width: 4px;
        z-index: 2;
      }

      &::after {
        content: '';
        background-size: contain;
        bottom: -10px;
        height: 18px;
        left: 50%;
        transform: translate(-50%, 50%);
        position: absolute;
      }
    }

    .value1 {
      &::after {
        width: 19px;
        background: url('#{$ico}/ico-start1.svg') center no-repeat;
      }
    }
    .value2 {
      &::after {
        width: 44px;
        background: url('#{$ico}/ico-start2.svg') center no-repeat;
      }
    }
    .value3 {
      &::after {
        width: 69px;
        background: url('#{$ico}/ico-start3.svg') center no-repeat;
      }
    }
    .value4 {
      &::after {
        width: 94px;
        background: url('#{$ico}/ico-start4.svg') center no-repeat;
      }
    }
	}

	.ico-arc {
		position: absolute;
		right: 16px;
		top: -60px;
		width: 86px;
  }
  
  .ico-ball {
    background: #432579; /* Old browsers */
    background: -moz-linear-gradient(left, #432579 0%, #db1120 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #432579 0%,#db1120 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #432579 0%,#db1120 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#432579', endColorstr='#db1120',GradientType=1 ); /* IE6-9 */
    border-radius: 33px;
    height: 48px;
    padding: 5px;
    position: relative;
    width: 20%;
    transition: all .2s linear;

    img {
      position: absolute;
      right: 5px;
      width: 40px;
      height: 40px;
      top: 7%;
    }
  }
}

.title_section {
	color: $blue2;
	font-family: $fbbold;
	text-align: center;
	font-size: 80px;
}

.text_note {
	color: $white;
	font-family: $fbbook;
	font-size: 16px;

	strong {
		font-family: $fbbold;
	}
}

.title_section-white {
	color: $white;
	font-size: 43px;
	font-family: $fbbold;
}

.text_center { text-align: center; }

.title_light {
	color: $blue3;
	font-family: $fbbook;
	font-size: 32px;
	text-align: center;
	margin: 0;
}

// BTNS
.btn_basic-light {
	border-radius: 5px;
	cursor: pointer;
	color: $white;
	margin-top: 35px;
	font-family: $fbbold;
	font-size: 20px;
	padding: 7px 10px;
	background-color: $blue3;
}

.btn_basic-gray {
	border-radius: 5px;
	cursor: pointer;
	color: $gray2;
	margin-top: 35px;
	font-family: $fbbold;
	font-size: 20px;
	padding: 7px 10px;
	background-color: $gray;
}

.btn_basic-bluedark {
  cursor: pointer;
  background-color: $blue4;
  border-radius: 5px;
  border: solid $white 1px;
  color: $white;
  font-family: $fbbold;
  font-size: 18px;
  padding: 11px 0 7px;
}

.btn_basic-bluelight {
  cursor: pointer;
  background-color: $blue3;
  border-radius: 5px;
  border: solid $blue3 1px;
  color: $blue2;
  font-family: $fbbold;
  text-align: center;
  font-size: 18px;
  padding: 11px 0 7px;
}

.modal_qualification {
  .modal-dialog {
    width: 71%;
  }
  .modal-content {
    padding: 30px 3%;
    background-color: $blue2;

    .item_bono {
      margin: 0 2%;
      width: 20%;
      padding: 0;
    }
  }
}

.ico-cup {
  padding-left: 42px;
  position: relative;

  &::before {
    background-size: cover !important;
    content: '';
    height: 43px;
    left: 24%;
    top: 1%;
    position: absolute;
    width: 38px;
  }
}

.cup-yellow {
  &::before {
    background: url('#{$ico}ico-cup-yellow.svg') center no-repeat;
  }
}

.cup-blue {
  &::before {
    background: url('#{$ico}ico-cup-blue.svg') center no-repeat;
    left: 15%;
  }
}

.cup-blue-second {
  &::before  { left: 12%;; }
}