@import 'vars.scss';

@media handheld, only screen and (min-width: 1200px) {

}

@media handheld, only screen and (max-width: 990px) {

}

@media handheld, only screen and (max-width: 780px) {
    //GENERALES MOBILE

    .content_whith-medium   { width: 100%; }
    .n_padding-left         { padding: 0; }
    .title_section          { font-size: 44px; }

    .grafic_marker {
        .marker_values {
            .item_market {
                margin: 0 5%;
                
                &::before {
                    left: 35%;
                    top: -104px;
                }
            }
        }

        .ico-arc {
            top: -37px;
            width: 51px;

            img { width: 100%; }
        }
    }
    // FIN GENERALES

    header {
        padding: 20px 0;
    }

    footer {
        .list_footer {
            margin: 20px 0;
            text-align: center;
        }

        .logos {
            text-align: center;

            img {
                float: initial;
                margin: 30px auto;
            }
        }

        .logo-relative {
            position: initial;   
        }
        
        .text_basic-white {
            text-align: justify;
        }
    }

    .banner_ppl,
    .qualification_content {
        background: none;
        background-color: $blue2 !important;

        .content_banner { width: 100%; }
    }

    .how-play {
        .text_basic-blue { width: 100%; }
    }
    .main_menu {
        left: -100%;
        background-color: rgba(7, 33, 70, 0.90);
        float: initial;
        top: 0;
        height: 100vh;
        margin: 0;
        padding: 61px 0 0;
        position: absolute;
        text-align: center;
        z-index: 9;
        opacity: 0;
        width: 100%;
        transition: all .2s linear;

        .item_menu {
            margin: 35px 0;

            &::before { content: none; }
        }

        .item_menu {
            display: block;
        }
    }

    .main_menu-open {
        left: 0;
        opacity: 1;
    }

    .menu_type-player {
        .item_menu {
            margin: 0;

            a,
            .btn-scroll {
                margin: 0 13px;
                font-size: 15px;
            }
        }
    }

    .item_menu {
        a,
        .btn-scroll {
            font-size: 28px;
        }
    }

    .close-menu {
        position: absolute;
        top: 3%;
        left: 5%;

        img {
            width: 30px; height: 30px;
        }
    }

    .open-menu {
        right: 5%;
        position: absolute;
        top: 3%;

        img {
            width: 37px; height: 21px;
        }
    }

    .tabs_play {
        width: 100%;

        li {
            a { font-size: 13px; }
        }

        &::before { height: 38px; }
    }

    .int-page {
        .open-menu {
            top: 8%;
        }
    }

    .your_goals {
        .title_section-white { font-size: 1px; }
    }

    .qualification-equipo {
        .your_goals {
            .item_bg {
                font-size: 12px;
            }
        }
    }

    .bg_quadrangular {
        padding: 66px 15px;
    }

    .awards_team-list {
        .item_team {
            margin-bottom: 40px;
            width: 100%;
        }
        .text_footer {
            margin: 5px 0 0;
            min-height: auto;
        }
        .text_ppal {
            min-height: auto;
        }
    }

    .table_dats {
        tr {
            td {
                &:first-child { width: 22px; }
            }
        }

        .text_table {
            font-size: 14px;
        }
    }

    .types_awards {
        .title_section {
            font-size: 27px;
        }

        .description_basic-blue {
            width: 100%;
        }
    }

    .awards_content {
        .item_awards {
            margin-bottom: 20px;
            padding: 14px;
            width: 47%;
            
            .btn_basic-bluedark {
                font-size: 16px;
            }

            .title_section-white {
                font-size: 39px;
                
                small { font-size: 17px; }
            }
        }
    }

    .marker_content {
        .text_basic-white { width: 100%; }
    }
}


@media handheld, only screen and (max-width: 425px) {
    //GENERALES MOBILE

    .content_whith-medium   { width: 100%; }
    .n_padding-left         { padding: 0; }
    .title_section          { font-size: 44px; }

    .grafic_marker {
        .marker_values {
            .item_market {
                margin: 0 5%;
                
                &::before {
                    left: 35%;
                    top: -104px;
                }
            }
        }

        .ico-arc {
            top: -37px;
            width: 51px;

            img { width: 100%; }
        }
    }
    // FIN GENERALES

    header {
        padding: 20px 0;
    }

    footer {
        .list_footer {
            margin: 20px 0;
            text-align: center;
        }

        .logos {
            text-align: center;

            img {
                float: initial;
                margin: 30px auto;
            }
        }

        .logo-relative {
            position: initial;   
        }
        
        .text_basic-white {
            text-align: justify;
        }
    }

    .banner_ppl,
    .qualification_content {
        background: none;
        background-color: $blue2 !important;

        .content_banner { width: 100%; }
    }

    .how-play {
        .text_basic-blue { width: 100%; }
    }
    .main_menu {
        left: -100%;
        background-color: rgba(7, 33, 70, 0.90);
        float: initial;
        top: 0;
        height: 100vh;
        margin: 0;
        padding: 61px 0 0;
        position: absolute;
        text-align: center;
        z-index: 9;
        opacity: 0;
        width: 100%;
        transition: all .2s linear;

        .item_menu {
            margin: 35px 0;

            &::before { content: none; }
        }

        .item_menu {
            display: block;
        }
    }

    .main_menu-open {
        left: 0;
        opacity: 1;
    }

    .menu_type-player {
        .item_menu {
            margin: 0;

            a,
            .btn-scroll {
                margin: 0 13px;
                font-size: 15px;
            }
        }
    }

    .item_menu {
        a,
        .btn-scroll {
            font-size: 28px;
        }
    }

    .close-menu {
        position: absolute;
        top: 3%;
        left: 5%;

        img {
            width: 30px; height: 30px;
        }
    }

    .open-menu {
        right: 5%;
        position: absolute;
        top: 3%;

        img {
            width: 37px; height: 21px;
        }
    }

    .tabs_play {
        width: 100%;

        li {
            a { font-size: 13px; }
        }

        &::before { height: 38px; }
    }

    .int-page {
        .open-menu {
            top: 10%;
        }
    }

    .your_goals {
        .title_section-white { font-size: 1px; }
    }

    .qualification-equipo {
        .your_goals {
            .item_bg {
                font-size: 12px;
            }
        }
    }

    .bg_quadrangular {
        padding: 66px 15px;
    }

    .awards_team-list {
        .item_team {
            margin-bottom: 40px;
            width: 100%;
        }
        .text_footer {
            margin: 5px 0 0;
            min-height: auto;
        }
        .text_ppal {
            min-height: auto;
        }
    }

    .table_dats {
        tr {
            td {
                &:first-child { width: 22px; }
            }
        }

        .text_table {
            font-size: 14px;
        }
    }

    .types_awards {
        .title_section {
            font-size: 27px;
        }

        .description_basic-blue {
            width: 100%;
        }
    }

    .awards_content {
        .item_awards {
            margin-bottom: 20px;
            padding: 14px;
            width: 47%;
            
            .btn_basic-bluedark {
                font-size: 16px;
            }

            .title_section-white {
                font-size: 39px;
                
                small { font-size: 17px; }
            }
        }
    }

    .marker_content {
        .text_basic-white { width: 100%; }
    }
}