@import 'vars.scss';

// Header
header {
	background-color: $blue1;
	border-bottom: solid $white 1px;
	padding: 20px 0 0;

	.logo {
		width: 238px;
	}
}

.main_menu {
	float: right;
	position: relative;
	top: -26px;

	.item_menu {
		margin: 0 30px;
	}
}

.item_menu {
	margin: 0 30px;
	position: relative;

	&::before {
		content: none;
		bottom: -26px;
		left: 0;
		background-color: $red;
		width: 100%; height: 10px;
		position: absolute;
	}

	.btn-scroll,
	a {
		color: $white;
		cursor: pointer;
		font-family: $fbbook;
		font-size: 16px;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}
}

.main_menu {
  .item_active {
    a { font-family: $fbbold; }
    &::before { content: ''; }
    
  }
}

.menu_type-player {
  margin-bottom: 20px;

  .item_active {
    a { font-family: $fbbold; }
  }
  
	.item_menu {
		margin: 0 30px 0 0;
		&::before { content: none; }
	}
}

// End header

//Footer
footer {
	background-color: $blue1;
	padding: 29px 0 27px;

	.list_footer {
		margin-top: 11px;
		.item_footer {

			a {
				text-decoration: underline;
				color: $white;
				font-family: $fhell;
				margin: 0 6px;
			}
		}
	}

	.content-left {
		float: left;
		margin-left: 20px;
	}

	.logo-relative {
		position: relative;
    top: 34px;
    left: 20px;
	}

	.text_basic-white {
		font-size: 15px;
		
		a {
			color: $white;
			font-family: $fbbold;
		}
	}

	.logo_second {
		text-align: right;
		width: 100%;

		img { margin: 0 auto; width: 223px; }
	}
}

// End footer
.modal_home .btn_basic.btn_basic-100{
	width: 100%;
}
.link-modal{
	display: block;
	width: 100%;
	padding: 15px 0;
	font-family: $fhell;
	color: $red;
	text-decoration: underline; 
}
.color-gray.text-left{
	color: $gray2;
	text-align: left !important;
}
// Home

.banner_ppl {
	background: url('#{$bg}banner_home.png') center no-repeat;
	height: auto;
	padding-top: 6vh;
	position: relative;
	max-height: 640px;

	.form_home {
		margin-top: 22px;
		input {
			color: $white;
			background-color: rgba(255, 255, 255, 0.3);
			border: solid $white 1px;
			border-radius: 5px;
			font-family: $fhelb;
			padding: 8px 11px;
			width: 100%;

			&::placeholder { color: $white; }
		}
	}

	.text_basic-white {
		font-size: 16px;
		margin-top: 14px;
	}

	.content_banner {
		position: relative;
		text-align: center;
		position: relative;
		width: 38%;

		.ico-card {
			margin: 24px auto 0;
		}
	}

	.title_banner {
		margin-top: 0;
		color: $white;
		font-family: $fbbook;
		font-size: 20px;
		margin-bottom: 14px;
	}

	.logo_text {
		bottom: -18%;
		right: 13%;
		position: absolute;
	}

	.ico-scrool {
		position: absolute;
    bottom: 2%;
    width: 28px;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);

		img {
			margin: 0 auto;
			position: relative;
			z-index: 2;
		}
	}
}

.tabs_play {
	border: solid $gray 3px;
	border-radius: 47px;
	text-align: center;
	margin: 51px auto 0;
	width: 40%;
	position: relative;

	li {
		display: inline-block;
		float: initial;
		width: 49%;
		margin: 0;
		background-color: transparent;

		a {
			background-color: transparent;
			border: none;
			border-radius: 47px;
			color: $gray2;
			text-transform: uppercase;
			font-family: $fbbold;
			font-size: 20px;
			transition: all .2s linear;

			&:hover {
				background-color: transparent;
			}
		}
	}

	.active {
		a {
			color: $white !important;
			background-color: transparent !important;
			border: none !important;
		}
	}

	&:before {
		content: "nono";
		color: $blue3;
		background-color: $blue3;
		border-radius: 47px;
		left: 0;
		right: initial;
		position: absolute;
		height: 48px;
		width: 49%;
		transition: all .2s linear;
	}
}

.tabs_action {
	&::before {
		left: initial;
		transform: translateX(104%);
	}
}

.tab-content { margin-top: 85px; }

.list_indcations {
	margin: 23px 0 0;
	padding: 0;

	li {
		list-style: none;
		margin: 0 0 27px;
		padding: 0 0 0 50px;
		position: relative;
		width: 90%;
	}

	.count_list {
		display: flex;
		border-radius: 50%;
		align-items: center;
		color: $white;
		font-size: 30px;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 30%;
		background-color: $red;
		width: 40px; height: 40px;
	}

	.text_item {
		color: $gray2;
		font-family: $fhell;
		font-size: 16px;

		a {
			color: $red;
			text-decoration: underline;
		}
	}

	.title_item {
		color: $blue2;
		font-family: $fbbold;
		font-size: 22px;
		margin: 0 0 17px;
	}
}

.modal_home {
	background-color: #072146cc;

	.btns_options {
		margin-top: 30px;
		text-align: center;
	}

	.btn_basic {
		display: inline-block;
    margin: 0 5px;
    width: 47%;
	}

	.description_basic,
	.text_basic-dark {
		text-align: center;
	}

	.modal-dialog { margin: 10% auto; }

	.modal-content {
		background-color: $white2;
		padding: 30px 10%;
	}

	select {
		color: $gray2;
		background-color: $white;
		border-radius: 5px;
		border: solid $gray3 1px;
		font-family: $fhell;
		padding: 10px 15px;
		width: 100%;
	}

	.title_section {
		font-size: 32px;
		margin-bottom: 31px;
	}

	&::before {
		content: '';
		background: url('#{$ico}/line-modal.svg') center no-repeat;
		left: 0;
		top: 3%;
		width: 100%; height: 90%;
		background-size: contain !important;
		position: absolute;
	}
}

// End Home

// QUALIFICATION
.qualification_content {
	background: url('#{$bg}bg-qualification.png') center no-repeat;
	background-size: cover !important;
  padding-top: 45px;

  .container {
    position: relative;
  }

  .ico_text {
    position: absolute;
    right: 0;
    top: 27%;
		text-align: center;
		
		img {
			margin: 0 auto;
		}

    .text_basic-white {
      font-family: $fbbold;
      margin-bottom: 12px;
    }
	}
	
	.img_cup {
		margin: 44px 0 33px;
	}

}

.table_dats {
  margin-bottom: 56px;
  width: 100%;

  .description_table {
    font-family: $fblight;
    color: $white;
    font-size: 22px;
    border-bottom: solid 1px;
    border-color: rgba($color: $white, $alpha: .7);
    padding-bottom: 10px;
  }

  .text_table {
    color: $white;
    font-family: $fbbold;
    font-size: 22px;
    border-bottom: solid 1px;
    border-color: rgba($color: $white, $alpha: .3);
    padding: 16px 0;
  }

  .youre_winner {
    background-color: rgba($color: $red, $alpha: .5);
    img {
      width: 35px; height: 35px;
    }
  }

  tr {
    &:last-child {
      .text_table { border: none; }
		}
		
		td {
			&:first-child { width: 55px; }
		}
  }
}

.your_goals {
  .text_note 						{ margin-top: 24px; }
  .title_section-white  { font-size: 22px; }

  .dats_goals {
    margin: 0;
    padding: 0;
    background-color: $blue1;
    border: solid $white 1px;
    border-radius: 11px;
    box-shadow: 0 4px 5px 2px rgba($color: #000, $alpha: .3)
  }

  .item_goals {
    border-radius: 8px 0 0 8px;
    display: inline-block;
    color: $white;
    font-family: $fbbold;
    font-size: 28px;
    padding: 22px;
    text-align: center;
    width: 32%;
  }

  .item_bg {
    background-color: $white;
    color: $blue1;
    font-size: 17px;
    padding: 32px 12px;
  }
}

.marker_content {
  .text_basic-white {
    margin: 10px auto;
    text-align: center;
    width: 70%;
	}

	.text_note 					 { text-align: center; }
	.title_section-white { margin-bottom: 51px; }
	
	.text-ppal {
		margin: 50px auto 58px;

		p { margin-bottom: 63px; }
	}
}

.awards_content {
  margin: 24px 0 63px;

  .item_awards {
    background-color: rgba(7, 33, 70, 0.61);
    border-radius: 22px;
    margin: 0 1%;
    padding: 29px 45px 30px;
    text-align: center;
    width: 22%;

    .title_section-white {
      opacity: .6;
      font-size: 50px;
      line-height: 21px;
      margin: 25px 0;
  
      small {
        color: $white;
        font-size: 22px;
      }
		}

		.btn_basic-bluedark{
			background-color: $blue2;
		} 
  }

  .ico_starts {
    margin-bottom: 17px;
    height: 18px;
  }

  .ico_cup {
    img { height: 27px; }
  }

  .list_awards {
    margin: 63px 0 0;
    padding: 0;
  }

  .award_active {
    background: rgba(2,220,205,1);
		background: -moz-linear-gradient(top, rgba(2,220,205,1) 0%, rgba(2,220,205,1) 57%, rgba(46,37,152,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,220,205,1)), color-stop(57%, rgba(2,220,205,1)), color-stop(100%, rgba(46,37,152,1)));
		background: -webkit-linear-gradient(top, rgba(2,220,205,1) 0%, rgba(2,220,205,1) 57%, rgba(46,37,152,1) 100%);
		background: -o-linear-gradient(top, rgba(2,220,205,1) 0%, rgba(2,220,205,1) 57%, rgba(46,37,152,1) 100%);
		background: -ms-linear-gradient(top, rgba(2,220,205,1) 0%, rgba(2,220,205,1) 57%, rgba(46,37,152,1) 100%);
		background: linear-gradient(to bottom, rgba(2,220,205,1) 0%, rgba(2,220,205,1) 57%, rgba(46,37,152,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02dccd', endColorstr='#2e2598', GradientType=0 );

    .btn_basic-bluedark  { background-color: transparent; }
		.title_section-white { opacity: 1; }
		
  }

  .item_redeemed {
    position: relative;

    &::before {
      content: '';
      background: url('#{$ico}ico-redeemed.svg') center no-repeat;
      background-size: cover !important;
      position: absolute;
      left: 0; top: -3px;
      width: 96px; height: 89px;
    }

    .title_section-white {
      color: $blue5;

      small { color: $blue5; }
    }

    img {
      -webkit-filter: opacity(.5) drop-shadow(0 0 0 pink);
      filter: opacity(.5) drop-shadow(0 0 0 $blue5);
    }

    .btn_basic-bluedark {
      border-color: $blue5;
      background: transparent;
      color: $blue5;
    }
  }
}

.qualification-equipo {
  .your_goals {
    .item_goals {
      padding: 22px 4px;
      font-size: 20px;
      width: 27%;
    }

    .item_bg {
      font-size: 20px;
      padding: 28px 7px;
      width: 43%;
    }
	}
	
	.desciption_goals {
		color: $white;
		font-family: $fbbook;
		font-size: 20px;
		margin: 70px 0;
		line-height: 32px;

		strong { font-family: $fbbold; }
		span {
			font-size: 35px;
			font-family: $fbbold;
		}
	}
}

.awards_team {
  padding: 72px 0 98px;

  .text_basic-white {
    margin: 22px auto 0;
    width: 70%;
  }

  .title_section-white {
    text-align: center;
    font-size: 50px;
  }
}

.awards_team-list {
  margin-top: 58px !important;

  .item_team {
    width: 30%;
    margin: 0 1%;
  }

  .img_award {
    height: 290px;
    overflow: hidden;
    width: 100%;

    img {
      object-fit: cover;
    }
  }

  .text_basic-white {
    margin: 0;
    text-align: center;
    width: 100%;
    float: left;
  }

  .text_footer {
    font-family: $fhell;
    font-size: 16px;
    margin-top: 38px;
    min-height: 61px;
  }

  .text_ppal {
    font-family: $fbbold;
    font-size: 22px;
    margin-bottom: 16px;
    min-height: 80px;
  }
}

.types_awards {
  .title_section {
    color: $blue2;
    font-size: 50px;
    margin: 66px 0 51px;
  }

  .description_basic-purple {
    margin: 27px auto 0;
    width: 70%;
	}
	
	.description_basic-blue { 
		margin: 37px auto;
		width: 65%;
	}
}

.modal_qualification {
	.description_bono {
		color: $white;
		text-align: left;
		font-family: $fhell;
		font-size: 16px;
		margin: 12px 0 18px;
	}

	.item_bono {
		text-align: center;
	}

	.text_basic-white { font-family: $fbbold; }
}


.how-play {
	.text_basic-blue {
		margin: 58px auto 0;
		text-align: center;
		width: 50%;
	}
}

.firstform {
	.firstbtn {
		margin: 35px auto 0;
		width: 33%;
	}
}

.arrow-left {
	display: block;
	position: relative;

	&::after {
		background: url('#{$ico}arrow-rigth.svg') center no-repeat;
		background-size: cover !important;
		content: '';
		right: 5%;
		top: 14px;
		position: absolute;
		width: 13px; height: 10px;
	}
}

.bg_quadrangular {
	background-size: cover !important;
	min-height: 344px;
	padding: 66px 28% 0;

	.title_section-white { margin-bottom: 22px; }
}

#ui-datepicker-div {
	box-shadow: 0px 0px 5px 0px #6b6b6b;
	border: none !important;

	.ui-datepicker-header {
		background-color: #fff;
		border: none;

		.ui-datepicker-title {
			color: #808080;
			font-family: $fbbold;
			font-size: 17px;
		}
	}
}

.ui-datepicker-calendar {
	thead {
		span {
			color: #6D6E71;
			font-family: $fbbold;
			font-size: 14px;
		}
	}
}

.ui-widget-header {
	.ui-icon-circle-triangle-e {
		background-image: url('#{$ico}arrow-left-calendar.svg') !important;
		background-position: center;
	}
	.ui-icon-circle-triangle-w {
		background-image: url('#{$ico}arrow-rigth-calendar.svg') !important;
		background-position: center;
	}
}

.ui-datepicker-header {
	.ui-corner-all {
		margin: 0 !important;
		padding: 0 !important;
		background: transparent !important;
		border: none !important;
	}
}

.ui-state-default {
	border-radius: 50%;
	border: none !important;
	background: transparent !important;
	color: #808080 !important;
	margin: 0 auto !important;
	font-family: $fblight;
	font-size: 12px !important;
	width: 25px; height: 25px;
	text-align: center !important;
	padding-top: 8px !important;
	transition: all .2s linear;

	&:hover {
		background-color: $blue3 !important;
		color: $white !important;
		font-family: $fbbold !important;
	}
}

.ui-state-active {
	background-color: $blue3 !important;
	color: $white !important;
	font-family: $fbbold !important;
}

.list_bonos {
	text-align: center;
}