// Colors
$blue1  : #072146;
$blue2 	: #004481;
$blue3  : #2DCCCD;
$blue4  : #322B80;
$blue5  : #49A5E6;

$gray   : #E9E9E9;
$gray2  : #808080;
$gray3  : #C4C4C4;

$red    : #DA3851;

$white  : #fff;
$white2 : #f2f2f2;

$fbbold : 'BentonSans-Bold';
$fbbook : 'BentonSans-Book';
$fblight: 'BentonSans-Light';
$fhelb  : 'HelveticaNeue-Black';
$fhell  : 'HelveticaNeue-Light';

// Rutas imgs
$img : '../images/';
$bg  : '../images/backgrounds/';
$ico : '../images/icons/';